* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

header {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  color: #2F281E;
  margin-top: 26px;

}

.header.content {
  margin: 0px 190px;
}

body {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #2F281E;

}




.logo {
  max-width: 200px;

}

ul {
  list-style: none;
}

li {
  display: inline;
}


.menu-link {
  color: #070707;
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 400;
  line-height: 28px;
}

.orange {
  color: #FF9900;
}

.header-button-white {
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2F281E;
  padding: 13px 26px;
  max-width: 110px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  margin-right: 30px;

}

.header-button-white:hover {
  background-color: aqua;
}

.header-button-orange {
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 13px 26px;

  max-width: 110px;
  border-radius: 4px;
  background-color: #FF9900;
  border: 1px solid #FF9900;
}

.header-button-orange:hover {
  background-color: #cc3c18;
  ;
}

.chapter1 {
  margin: 70px 0 9px 0;
}

.content {
  display: inline-block;
  vertical-align: middle;
}

.left {
  max-width: 500px;
}

.tittle {
  font-weight: 700;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2F281E;
  display: inline-block;

}

.text-chapter1 {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #544837;
  margin-bottom: 20px;
}

.image1-chapter1 {
  display: inline-block;
  max-width: 644px;
}

.button1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #FF9900;
  border-radius: 4px;
  padding: 13px 44px;
  text-decoration: none;



}