*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  



}

.container {
  max-width: 534px;
  margin: 0px auto;
}

header {
  background-color: #4A4F56;
  margin: 0 auto;

}


h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FF8984;
  
  padding: 19px 0 4px;
  
  text-align: center;

}

p {
  font-size: 16px;
  line-height: 19px;
  color: #FF8984;
 
  padding-bottom: 12px;
  text-align: center;
}


main {
  background-color: #3B3F45;
  padding-top: 20px;
  padding-bottom: 45px;
}

.point input {
  opacity: 0;
  position: absolute;
}



.list .point {
  background: #88839E;
  padding: 12px 0 14px 12px;
  max-width: 534px;
  position: relative;
  color: #FFFFFF;

}



.point input+label span:first-child {
  height: 19px;
  width: 19px;
  background: #FFFFFF;
  margin-right: 16px;
  display: inline-block;
  text-align: center;

}

.point input+label span:nth-child(3) {
  font-size: 11px;
}

.point input+label span {
  display: inline-block;
  vertical-align: middle;
}

.point:hover {
  background: #625E77;
  border: 3px solid #FFFFFF;
  transition: all .2s ease;
}

input:checked+label span:first-child::before {
  content: url("../../image/Vector\ 1.png");
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  /* background: #7A7593; */
  /* text-decoration: line-through; */
}
input:checked+label span:nth-child(2),
input:checked+label span:nth-child(3) {
  text-decoration: line-through;
}

.bonappetit {
  max-width: 534px;
  line-height: 21px;
  padding: 12px 0;
  margin: 45px 0;
  background: #4A4F56;
  color: #FF8984;
  text-align: center;
}

